.wrapper.text-white.text-center.titulo
  h2 Crea tu equipo ciclista y compite para ganar premios
  .btn-group
    a.btn.btn-highlight(href="#") Crear mi equipo
    a.btn.btn-white(href="#") Ver cómo funciona
.scroll-down.text-center.text-white
    a(href="#")
      i.fa.fa-chevron-down

